@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background-color: white;
}

.bg-spiderman {
  background-image: url('/animations/spiderman.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply py-3 px-4  cursor-pointer font-semibold text-sm rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-offset-2 hover:bg-green-50 flex justify-center items-center border-2 border-gray-300 text-center;
  }

  .btn {
    cursor: pointer;
  }

  .box-shadow {
    box-shadow: 1em 1em 1px black
  }

  .input{
    @apply mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-200;
  }
}



